.dropdown-container{
    width:300px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 15px;
    
}
.dropdown_common{
    width: 300px;
    border-radius:5px;
    color:white;
    margin-right: 30px;
    margin-bottom: 30px;
}
.dropdown_open{
    background-image:linear-gradient(to right, #BD0F71 , #8826D1);
    height:fit-content;
}
.dropdown_close{
    max-height: 50px;
    border:1px solid white;
    background-image: none;
    background-color: transparent;
}
.hidden-content{
    padding-bottom: 15px;
}
.hidden-content ul li{
    margin-bottom: 10px;
    list-style-type:none;
    margin-left:-16px;
}