.course-syllabus-container{
    padding: 60px;
    color:white;
    
}
.course-syllabus-container h1{
    font-size: 40px;
    font-family:var(--primary-font);
    font-weight: 500;
    margin-bottom: 60px;
}
.load-more-btn{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.course-curriculum-load-more{
    flex-grow: 1;
    text-align: center;
    font-family:'IBM Plex Sans';
    color:var(--color-light-gray-shade);
    font-weight: 500;
    cursor: pointer;
}