.inner-circle-review{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    
    
}
.outer-circle-review{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: linear-gradient(to right, #BD0F71 , #8826D1);
}
.review-image{
    height:auto;
    
}