.path-category-container h1{
    font-weight:500;
    font-size: 35px;
    color:white;
    font-family: var(--primary-font);
    text-align: center;
}
.path-category-container p{
    font-weight: 500;
    color:var(--color-light-gray-shade);
    font-family: var(--secondary-font);
    line-height:30px;

}
.path-category-description{
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}
.path-courses{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 100px;
}