.filter-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    background-color:rgba(83,83,83,0.5);
    color:var(--color-light-gray-shade);
    font-family: var(--secondary-font);
    border-radius: 5px;
    font-size: 14px;
}
.active{
    background-color:none;
    color:white;
    background-image: linear-gradient(to right,#db3445,#f71735);
}