.btn-outline{
    border-radius: 30px;
    border:2px solid black;
    background-color: transparent;
    margin-right: 25px;
    font-family: var(--secondary-font);
    cursor: pointer;
}
.btn-outline:hover{
    background-color: var(--secondary-color);
}
@media screen and (max-width: 920px){
    .btn-outline{
        margin-right: 0px;
    }
}