.course-details-container{
    width: 100%;
    height:fit-content;
    overflow-x: hidden;
}
.course-details-image-container{
    width: 100%;
    min-height: 250px;
    height:35vw;
    overflow: hidden;
}
.course-details-container img{
    width: 100%;
    object-fit: cover;
}