.border-container{
    width: fit-content;
    background-image:var(--primary-gradient);
    padding: 5px;
    border-radius: 5px;
    margin:15px;
}
.card{
    background-color: #171717;
    color:white;
    border-radius: 5px;
    overflow: hidden;
}
@media screen and (max-width:480px){
    .card{
        width: 350px !important;
        
        
    }

}