.course-card-main{
    width:350px;
    min-height:460px;
    height:fit-content;
    padding-bottom: 15px;
    background-color:var(--color-gray-shade);
    border-radius: 5px;
    overflow: hidden;
    font-family: 'IBM Plex Sans';
    color:white;
    border:2px solid black;
}
.course-card-details{
    width: 100%;
    height:100%;
    overflow: hidden;
}
.course-card-details img{
    width: 100%;
    max-height: 180px;
    overflow: hidden;
    object-fit:cover;
    

}
.course-card-details div{
    padding-left: 20px;
    padding-right:20px;
    
    
}
.course-card-details div p{
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    height:120px;
    overflow: hidden;
    color:var(--color-light-gray-shade);
    font-family: var(--secondary-font);
    line-height: 20px;
}
.course-card-details div h3{
    color:white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0px;
    height:60px;
    overflow: hidden;
    font-family: var(--primary-font);
}
