.practice-card-container{
    margin-top: 15px;
    border-radius: 5px;
    width: 100%;
    padding:15px;
    padding-top: 5px;
    height: fit-content;
    background-color:#6F00FF;
}
.practice-card-container p{
    font-size: 15px;
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    line-height:22px;
    padding: 10px;
}
.practice-details-container{
    display: flex;
    justify-content: space-around;
}