.path-container{
    margin-top: 30px;
    display: flex;
    flex-direction: 'row';
    flex-wrap: wrap;
    justify-content: center;
}
.course-card-container{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.course-buttons{
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
.course-path-container{
    display: flex;
    justify-content: center;
}
.course-searchbar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}