.path-details-container{
    padding:60px;
}

.path-details-heading{
    font-size: 60px;
    font-weight: 500;
    color: white;
    margin-bottom: 150px;
    font-family: var(--primary-font);
    text-align: center;
    
}
@media screen and (max-width:780px) {
    .path-details-container{
        padding:0px;
    }
    .path-details-heading{
        margin-bottom:80px;
    }
}