.Profile-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:fit-content;
}
.profile-courses-enrolled{
    width: 95%;
    padding-left: 30px;
}
.profile-heading-text{
    font-weight: 500;
    color:white;
    margin-bottom: 50px;
}
.profile-course-enrolled-container{
    display: flex;
    flex-wrap: wrap;
}
.profile-details{
    width:50%;
    padding-right:10%;
}

@media screen and (max-width:1130px){
    .Profile-container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .profile-heading-text{
        text-align: center;
    }
    .profile-details{
        width: 100%;
        padding-left: 10%;
    }
    .profile-course-enrolled-container{
        justify-content: center;
    }
    .profile-courses-enrolled{
        padding-left: 0px;
    }  
}