
.signup-container{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    
}
.signup-text-container{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.signup-text-container h2{
    font-size: 60px;
    font-weight: 500;
    line-height: 85px;
    margin-left: 100px;
    color:white;
    
}
.signup-text-container img{
    margin-left: 100px;
}
.signup-form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-text-signup{
    font-size:30px;
    font-weight: 400;
    line-height: 50px;
    margin-left: 15px;
}
.form-input-container{
    height:40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.signup-form-button-container{
    width: 325px;
    margin-left: 15px;
    /* width: fit-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-family: "IBM Plex Sans";
    font-weight: 500;
}
@media screen and (max-width:1164px){
    .signup-container{
        flex-direction: column;
        align-items: center;
    }
    .signup-text-container h2{
        margin-left: 0px;
        text-align: center;
        line-height: 100px;
    }
    .signup-text-container img{
        margin-left: 0px;
    }
    
}
@media screen and (max-width:780px){
    .signup-text-container{
        width: 80%;
    }
    .signup-form{
        width: 100%;
        overflow: hidden;
        
    }
    .signup-form-button-container{
        width:280px;
        justify-content: center;
    }
}