.tutorial-container{
    margin-top:90px;
    display: flex;
    justify-content: space-around;
    
}
.editor-container{
    width: 50%;
    height:inherit;
    padding: 30px;
    padding-top: 0px;
}
.tutorial-video-container{
    width: 50%;
    padding-right: 30px;
}
.tutorial-video-container iframe{
    aspect-ratio: 16/9;
}
.board-button{
    display: block;
    width: 150px;
    height:40px;
    font-family: var(--secondary-font);
    background-color: #3756F4;
    color:white;
    border:none;
    font-weight: 500;
    border: 1px solid black;
    border-left: none;
    cursor: pointer;
    margin-bottom: 15px;
}
.board-button-container{
    z-index: 9999;
    position:fixed;
    bottom:30px;
    left:0px;
}
@media screen and (max-width:780px) {
    .tutorial-container{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .editor-container{
        width: 100%;
    }
    .tutorial-video-container{
        width: 100%;
        padding-right:15px;
        padding-left: 15px;
    }
    .editor-container iframe{
        height:100vh !important;
        padding-bottom: 30px;
    }
    .board-button-container{
        bottom:2%;
    }
}