.navbar-container{
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom:10px;
}
.navbar-logo{
    padding-top: 15px;
    width:60px;
    height:auto;
}

.navbar-container ul{
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:white;
}
.navbar-container ul li {
    margin-left: 45px;
    margin-right: 45px;
    list-style: none;
    text-decoration:none;
    color:white;
    font-family: var(--primary-font);
    font-weight: 500;
}
.navbar-container ul li:hover{
    color:var(--secondary-color);
}
.profile-user-email{
    color:white;
    margin-right: 20px;
    cursor: pointer;
}